@import "bulma";

* {
  box-sizing: border-box;
}

body {
  width: 1000px;
}

h1.title.is-2 {
  text-align: center;
  color: #4061AE;
  font-weight: bold;
  letter-spacing: 3px;
  // font-family: 'Sigmar One';
}

.column {
  float: left;
  height: 140px;
  width: 145px;
  margin: 10px;
  padding: 0px;
  border: 1px solid black;

}

.column img {
  height: 100%;
  width: 100%;
  padding: 0px;
}

.flipimage {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.footer {
  clear: both;
}
