@import "bulma";

* {
  box-sizing: border-box;
}

.main {
  width: 800px;
  height: auto;
}

.column {
  float: left;
  height: 100px;
  width: 105px;
  margin: 10px;
  border: 1px solid black;
}


.footer {
  clear: both;
}
